<%- include('partials/header'); -%>

    <script>
        let botListElt;
        let brainListElt;
        let addNewBotButton;
        let talkBotButton;
        let chooseBot;
        let mouthListElt;

        document.addEventListener('DOMContentLoaded', initMouth);

        function initMouth() { //actualisation de la liste des mouths
            mouthListElt = document.getElementById("mouthListSELECT");
            reloadMouthList();
        }

        function reloadMouthList() { //rechargement de la liste des mouths par une requête GET
            while (mouthListElt.firstChild) {
                mouthListElt.removeChild(mouthListElt.firstChild);
            }
            let myHeaders = new Headers();
            myHeaders.append('Content-Type', 'application/x-www-form-urlencoded; charset=UTF-8');
            myHeaders.append('Accept', 'application/json');
            myHeaders.append('Set-Cookie', 'passPhrase=Hop');

            let myInit = {
                method: 'GET',
                headers: myHeaders,
                credentials: 'same-origin',
                mode: 'cors',
                cache: 'no-store'
            };

            let myURL = `http://localhost:3002/mouth`;

            fetch(myURL, myInit)
                .then((httpResponse) => {
                    return httpResponse.json()
                })
                .then((setOfMouths) => {
                    console.log("SetofMouths");
                    console.log(setOfMouths);
                    for (let mouth of setOfMouths) {
                        console.log(setOfMouths);
                        let item = document.createElement("option");
                        item.setAttribute("value", mouth.name);
                        item.innerHTML += ` ${mouth.name}`;
                        mouthListElt.appendChild(item);
                        console.log(mouthListElt);
                    }
                })
                .catch((err) => {
                    console.log(`ERROR : ${err}${err.stack}`);
                })
        }

    </script>

    <body>
        <header>
            <h1>Mouth list</h1>
        </header>

        <ul id="mouthListSELECT">
        </ul>
        <button id="retour" onclick=window.location.href="http://localhost:3001/" ;>BACK</button>
    </body>

<%- include('partials/footer'); -%>